@{ ViewData["Title"] = "About"; }
<h2>StegoCore</h2>
<h3>Simple steganography application designed for hiding your secred data in image files.</h3>

<p>
    This project is written for <a href="http://dajsiepoznac.pl">Get Noticed</a> comptetition
</p>
<p> 
    You can read more on <a href="https://pawelskaruz.pl">pawelskaruz.pl</a> (polish language only) 
</p>
<p> 
    Github <a href="https://github.com/paw3lx/StegoCore">https://github.com/paw3lx/StegoCore</a>
</p>