@model StegoCoreWeb.Model.EmbedResult

@if (Model.Success)
        {
            <div class="alert alert-info margin-top-10" role="alert"> <strong>Well done!</strong>
                Your secret data was embeded in image successfully
            </div>
            
            <div class="row">
                <div class="col-md-9">
                <h3 class="text-center">Image with secret</h3>
                <img src="/Home/GetEmbededImage" alt="source image" style="width: 100%;">
                <div style="margin-top:10px" class="text-center">
         <a href="/Home/GetEmbededImage" class="btn btn-primary">Download</a>
          <a href="/Home/RemoveImage?id=@Model.Guid" class="btn btn-danger">Remove this image</a>

      </div>
              </div>
              <div class="col-md-3">
                  <h3 class="text-center">Decrypt secret</h3>
                <form method="post" asp-controller="Home" asp-action="Decrypt" asp-antiforgery="true" class="text-center">
                    <input type="hidden" name="id" value="@Model.Guid">
                    <input type="hidden" name="algorithm" value="@Model.Algorithm" />
                    <button class="btn btn-primary btn-lg" type="submit">Decrypt</button>
                </form>

              </div>
            </div>
              

          }