

<h2 class="text-center">Hide your secret data in images</h2>
<h4 class="text-center">It's secure, fast and free!</h4>

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Upload" asp-antiforgery="true" class="dropzone" id="uploaddropzone">
    <div class="fallback">
    <input name="file" type="file" />
  </div>

</form>
  <div id="preview-template" style="display: none;">
    <div class="dz-preview dz-file-preview" style="margin: 0; width: 100%;">
  <div class="dz-details">
    <div class="dz-filename"><span data-dz-name></span></div>
  </div>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:0;" data-dz-uploadprogress> 
    </div>
  </div>
</div>
</div>
<h4 class="text-center">or select one from your previous files</h4>

<script src="~/js/upload.js" asp-append-version="true"></script>
