@model StegoCoreWeb.Model.UserImage

<h1 class="text-center text-info">What you want to do?</h1>
<div class="row">
    <div class="col-md-6 text-center">
      
      <div class="panel panel-info">
          <div class="panel-heading"> <h3 class="panel-title">Embed secret data</h3> </div>
  <div class="panel-body">
      
      <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Embed" asp-antiforgery="true" id="form-secret-data">
            <input name="secret" type="file" style="margin: 0 auto;" />
            <button class="btn btn-primary btn-lg margin-top-10">Embed</button>
      </form>
  </div>
</div>
      
  </div>
  <div class="col-md-6 text-center">
      <div class="panel panel-info">
          <div class="panel-heading"> <h3 class="panel-title">Decrypt file from image</h3> </div>
  <div class="panel-body">
      <form method="post" asp-controller="Home" asp-action="Decrypt" asp-antiforgery="true">
           <input type="hidden" name="id" value="@Model.Guid">
            <button class="btn btn-primary btn-lg" type="submit">Decrypt</button>
      </form>
  </div>
</div>
      
  </div>
  <div class="col-md-12">
          <h3>Your original image</h3>
      <img src="/Home/GetUserImage" alt="source image" style="width: 100%;">
      <div style="margin-top:10px" class="text-center">
          <a href="/Home/RemoveImage?id=@Model.Guid" class="btn btn-danger">Remove your image</a>
      </div>
          
      
  </div>
</div>